.details-page-content {
  height: 100%;
  width: 100%;

  font-family: "Christmas";
}

.centered-header {
  padding-top: 10px;

  font-size: 3em;
  font-family: "German";
}

.ceremony-content, .reception-content, .accomodations-content, .things-to-do-content {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);

  margin: 5px;
  padding: 5px;

  display: inline-block;
  width: 100%;
}

.accomodations-content, .things-to-do-content {
  font-family: 'Georgia';
}

.details-church-photo {
  z-index: 1;
  box-shadow: 0px 0px 5px 3px black inset;

  display: inline-block;

  height: 12vw;
  width: 15vw;

  background-image: url('../img/StPatricks.jpg');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 20px;
}

.st-patricks {
  background-image: url('../img/StPatricks.jpg');
}

.st-andrews {
  background-image: url('../img/StAndrews.jpg');
}

.right-text-content {
  display: inline-block;
  width: 45%;

  margin-right: 5%;
  float: right;

  margin-top: 20px;
  margin-bottom: 20px;
}

.accomodation-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.thing-to-do {
  margin-left: 5%;
  width: 90%;

  padding-top: 2px;
  padding-bottom: 2px;

  border-bottom: 1px solid gray;
}

.thing-to-do.last {
  border: 0;
}

.accomodation-content:hover, .thing-to-do:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.details-column {
  width: 40%;
}

.details-column.right {
  margin-right: 9.5%;
  float: right;
}

.details-column.left {
  margin-left: 7.5%;
  float: left;
}

@media screen and (max-width: 1024px) {
  .details-column {
    top: 5px;
    width: 97.5%;
    padding: 1.5%;

    display: inline-block;

    float: left;
  }
}