@font-face {
  font-family: 'America';
  font-style: normal;
  font-weight: 400;
  src: local('America'), url('../fonts/America-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Shorelines';
  font-style: normal;
  font-weight: 400;
  src: local('Shorelines'), url('../fonts/Shorelines.otf') format('opentype');
}

@font-face {
  font-family: 'Exodus';
  font-style: normal;
  font-weight: 400;
  src: local('Exodus'), url('../fonts/ExodusDemo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Christmas';
  font-style: normal;
  font-weight: 400;
  src: local('Christmas'), url('../fonts/ChristmasCard.ttf') format('truetype');
}

@font-face {
  font-family: 'SketchGothic';
  font-style: normal;
  font-weight: 400;
  src: local('SketchGothic'), url('../fonts/Sketch Gothic School.ttf') format('truetype');
}

@font-face {
  font-family: 'Magnificent';
  font-style: normal;
  font-weight: 400;
  src: local('Magnificent'), url('../fonts/Magnificent Personal Use.ttf') format('truetype');
}

@font-face {
  font-family: 'Perry';
  font-style: normal;
  font-weight: 400;
  src: local('Perry'), url('../fonts/PerryGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'German';
  font-style: normal;
  font-weight: 400;
  src: local('German'), url('../fonts/GermanGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Restless';
  font-style: normal;
  font-weight: 400;
  src: local('Restless'), url('../fonts/Restless.otf') format('opentype');
}

@font-face {
  font-family: 'Foglihten';
  font-style: normal;
  font-weight: 400;
  src: local('Foglihten'), url('../fonts/FoglihtenNo07.otf') format('opentype');
}

@font-face {
  font-family: 'Westfalia';
  font-style: normal;
  font-weight: 400;
  src: local('Westfalia'), url('../fonts/Westfalia.otf') format('opentype');
}

@font-face {
  font-family: 'Beau';
  font-style: normal;
  font-weight: 400;
  src: local('Beau'), url('../fonts/beau.ttf') format('truetype');
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;

  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.7)), url('../stpats_wide.jpg');
  background-size:auto,cover;
  background-position:top left, center;
  background-attachment:scroll,fixed;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.animated-button {
  position: relative;

  display: inline-block;

  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
  overflow: hidden;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.animated-button:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 1px;

  background: blue;
  transform: translateY(100%);
  transition: transform .2s ease-in-out;
  transition-delay: .2s * 3;
}

.animated-button span {
  position: relative;

  display: block;
  padding: .5em;

  color: inherit;
}

.animated-button span:before, 
.animated-button span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  background: blue;
  transition: transform .2s ease-in-out;
}

.animated-button span:before {
  height: 1px;
  width: 100%;
  
  transform: translateX(100%);
  transition-delay: .4s;
}

.animated-button span:after {
  height: 100%;
  width: 1px;

  transform: translateY(-100%);
  transition-delay: .2s;
}

.animated-button span:hover:before, 
.animated-button span:hover:after {
  transform: translate(0, 0);
}

.animated-button span:hover:after {
  transition-delay: 0s;
}

.animated-button span:hover:before {
  transition-delay: .2s;
}

.animated-button span:hover {
  color: grey;
  background-color: blue;
  transition-delay: .6s;
}

.photo-wrap .image {
  height: 100%;
  width: 100%;

  z-index: 1;

  background-repeat: no-repeat;
  background-size: contain;
}

.hidden {
  display: none;
}