.rsvp-page-content {
  height: 100%;
  width: 100%;
}

.rsvp-form, .rsvp-form-footer {
  width: 70%;
  display: inline-block;

  margin-top: 15px;
  padding: 20px;
}

.number-circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 5px;
  border: 1px solid white;
  color: white;
  text-align: center;
  font: 12px Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .rsvp-form {
    width: 100%;
  }
}

.rsvp-form input {
  outline: 0;
  border: 0;

  height: 2rem;
  border-bottom: 1px solid #888888;
  background-color: transparent;

  color: rgba(255, 255, 255, .90);
  text-align: center;
  font-size: 1.3em;
  font-family: 'Beau';

  padding-top: .5em;
  margin-bottom: .5em; 
  height: 2em;

  float: left;
}

.rsvp-form .rsvp-guest-input {
  width: 90%;
  height: 100%;
}

.rsvp-form .rsvp-guest-input input {
  line-height: 2em;
  border: 1px solid #888888;
  border-radius: 5px;
}

.rsvp-guest-list .guest-table {
  padding-top: 1em;
  margin-left: 2.5%;
  width: 95%;
  border-top: 1px solid gray;
}

.rsvp-guest-list .guest-header {
  width: 60%;
  font-size: 1.75em;
}

.rsvp-guest-list .boolean-header {
  font-size: 0.85em;
  font-weight: bold;
  text-align: left;

  width: 12.5%;
  overflow: visible;

  transform: rotate(-30deg);

  padding-bottom: 3em;
}

.rsvp-guest-list .header-row {
  border-bottom: 1px solid gray;
}

.rsvp-guest-input .name {
  width: 90%;
  padding-left: 5%;
}

.rsvp-guest-input .boolean {
  width: 1.25em;
}

.guest-table .guest-column {
  width: 60%;
}

.rsvp-button {
  height: 3em;
  line-height: 3em;
  width: 15%;

  border-radius: 5px;
  background-color: rgba(7, 0, 100, 0.5);

  cursor: pointer;

  display: table;
  margin: 0 auto;
  margin-bottom: 2.5%;
}

.rsvp-button.next-button {
  width: 10em;
}

.rsvp-button.add-button {
  width: 17em;
}

.rsvp-button.continue-button {
  width: 22em;
  background-color: rgba(7, 0, 100, 0.5);
}

.rsvp-button.submit-button {
  width: 15em;
}

.rsvp-button:hover {
  background: rgb(215, 215, 215);
  box-shadow: inset 0 0 10px black;
  color: black;
}

.rsvp-button.inactive {
  background-color: rgba(0, 0, 0, 0.5);
}

.rsvp-button.inactive:hover {
  background: rgb(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0;
  color: white;
  cursor: default;
}

.rsvp-submit-success {
  display: inline-block;

  padding: 20px 25px 20px 25px;
}

.rsvp-form, .rsvp-submit-success, .rsvp-form-footer {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.note-text {
  display: block;
  width: 95%;
  margin-left: 2.5%;
}

/* Customize the label (the container) */
.checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox-label input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}