.content {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none;
}

.header {
  background-color: rgba(7, 0, 100, 0.5);
  height: 25%;
  color: rgb(207, 207, 207);

  box-shadow: 10px 0px 5px rgb(0, 0, 0, 0.65);
}

.header h1 {
  margin: 0;
}

.title {
  height: 75%;

  position: relative;
  top: 70%;
  transform: translateY(-50%);

  font-family: "Foglihten";
  font-weight: bold;
  font-size: 3em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer-wrap {
  position: absolute;

  bottom: 5%;
  width: 100%;
  height: 15%;
}

.footer {
  position: absolute;

  width: 20%;

  text-align: center;
  color: rgb(255, 255, 255, 0.75);

  font-family: "Perry";
}

.footer.ceremony {
  left: 30%;
}

.footer.reception {
  left: 50%;
}

.footer.ceremony p:nth-child(1) {
  font-size: 1em;
  font-weight: bold;
}

.footer.reception p:nth-child(1) {
  font-size: 1em;
  font-weight: bold;
}

.footer p {
  margin: 3px;
  font-size: 0.75em;
}

.button-section {
  position: relative;

  width: 100%;
  height: 25%;

  bottom: 5px;

  font-size: 1.25em;
}

.button-section .button {
  position: relative;
  display: inline-block;

  width: 15%;
  height: 100%;

  border-radius: 5px;
  background-color: black;

  font-family: 'Foglihten';
  font-weight: 'bold';
  color: white;

  margin-left: 5px;
  margin-right: 5px;

  cursor: pointer;
}

.button-section .button:hover {
  background: rgb(200, 200, 200);
  border: 1px solid rgb(120, 120, 120);
  color: black;
}

.button .button-text {
  position: relative;
  top: 25%;

  text-align: center;
}